/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (min-width: 1024px) and (max-width: 1400px) {
  .bently-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bently-text {
    margin: 0 auto;
    max-width: 1024px;
  }
  .footer-bottom {
    width: 100%;
  }
  .car {
    max-width: 525px;
    width: 100%;
    margin-top: 50px;
  }
  .img-background-vector {
    display: none;
  }
  .head-top {
    width: 100%;
  }
}
@media (min-width: 666px) and (max-width: 1100px) {
  .history-h6 {
    margin-left: 0;
  }
  .history-p {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .top-section {
    width: 100%;
  }
  .img-background-vector {
    display: none;
  }
  .right {
    max-width: 512px;
    width: 100%;
  }
  .footer-bottom {
    width: 100%;
  }
  .car {
    max-width: 525px;
    width: 100%;
    margin-top: 50px;
  }
  .left-wrapper {
    margin-top: 150px;
  }
  .img-history {
    width: 100%;
  }
  .bently-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .MULLINER {
    margin: 0 auto;
    font-size: 35px;
  }
  .p-mulliner {
    font-size: 35px;
    margin: 0 auto;
  }
  .grey {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .history-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .history-s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px;
  }

  .head-top {
    max-width: 1024px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .top-10-left {
    margin-top: 0;
    margin-bottom: 150px;
  }
  .box-1-right {
    max-width: 1024px;
    width: 100%;
  }
}
@media (max-width: 990px) {
  .car {
    max-width: 400px;
    width: 100%;
    margin-top: 150px;
  }
  .centre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .centre-right {
    max-width: 990px;
  }
  .map {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .top-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Mercedes-Benz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-wrapper {
    margin: 0 auto;
  }
  .b-mulliner {
    margin: 0 auto;
  }
  .paragraph {
    margin: 0 auto;
  }
  .top-10-left {
    padding-top: 0px;
    margin-left: 0;
  }
  .box-1-right {
    margin-bottom: 5px;
  }
  .car {
    display: none;
  }
}

@media (max-width: 668px) {
  .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-top: 124.59px;
    text-align: left;
    width: 100%;
  }
  .title {
    font-size: 50px;
    width: 10px;
  }
  .line {
    display: none;
  }
  .title-history {
    font-size: 30px;
    text-align: left;
  }
  .history-h6 {
    font-size: 15px;
    width: 100%;
  }
  .history-p {
    font-size: 10px;
    margin: 0 auto;
    width: 100%;
  }
  .img-history {
    padding-left: 0px;
  }

  .send {
    margin-left: 0;
  }
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-titles {
    margin-left: 0;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .social {
    margin-left: 0;
  }
  .b-mulliner {
    left: 0px;
    width: 10px;
  }
  .paragraph {
    left: 0px;
    text-align: left;
    width: 100%;
  }
  .MULLINER {
    left: 0px;
    font-size: 30px;
  }
  .p-mulliner {
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: 25px;
  }
  .img-bently {
    display: none;
  }
  .objects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grey-objects {
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  .top-10-left {
    left: 0px;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
  }
  .list {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .h1-top {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .paragraph-top {
    margin-bottom: 5px;
  }
  .h2-top {
    font-size: 25px;
  }
  .brand {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .title-brand {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .read-review {
    font-size: 15px;
  }
  nav {
    display: none;
  }
  .burger {
    display: block;
    position: absolute;
    top: 10px;
  }
  .header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 10px;
  }
  .ul-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
  nav.activeNav {
    display: block;
  }
  .centre-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-title {
    margin-left: 0;
  }
}