/* home page */
.header-wrapper {
  max-width: 1194px;
  width: 100%;
  margin: 0 auto;
  margin-top: 23.5px;
  display: flex;
  justify-content: space-between;
}
.logo {
  max-width: 186px;
  width: 100%;
}
.logo:hover {
  transform: scale(0.9, 0.8);
}
.navigation {
  width: 464px;
}
.ul-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.li-items {
  color: black;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: bold;
}
.li-items:hover {
  color: #f8d7a4;
}
.top-section {
  width: 1194px;
  height: 80vh;
  display: flex;
  margin: 0 auto;
}
.left {
  width: 580px;
  display: flex;
  justify-content: center;
  margin-top: 124.59px;
}
.line {
  width: 9px;
  height: 261px;
  margin-right: 47px;
}
.title {
  width: 457px;
  font-size: 64px;
  color: black;
  font-family: "Poppins";
}
.right {
  width: 832.23px;
  margin-top: 30px;
}
.car {
  position: absolute;
  z-index: 1;
  -webkit-animation: move 5s alternate 1 0.2s;
          animation: move 5s alternate 1 0.2s;
}
@-webkit-keyframes move {
  from {
    right: 0px;
  }
  to {
    right: 150px;
  }
}
@keyframes move {
  from {
    right: 0px;
  }
  to {
    right: 150px;
  }
}
.img-background-vector {
  position: relative;
}
.img {
  max-width: 900px;
  width: 100%;
}
.Mercedes-Benz {
  background-color: black;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.right-wrapper {
  max-width: 481px;
  padding: 170px 50px;
}
.m-title {
  font-size: 28px;
  text-align: justify;
  line-height: 1.5;
  color: white;
  font-family: "Inter";
}
.bently {
  background-image: url(../image/Mulliner.jpg);
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.b-mulliner {
  color: #fff;
  font-size: 35px;
  position: absolute;
  top: 100px;
  left: 150px;
  font-family: "Inter";
  font-weight: normal;
}
.paragraph {
  position: absolute;
  width: 350px;
  top: 150px;
  left: 150px;
  color: #fff;
  font-size: 35px;
  text-align: left;
  font-family: "Inter";
  font-weight: normal;
}
.bently-m {
  display: flex;
}
.bently-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8d7a4;
  border-radius: 50%;
}
.MULLINER {
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
  font-family: "Inter";
  font-weight: normal;
}
.p-mulliner {
  width: 650px;
  top: 150px;
  left: 150px;
  color: black;
  font-size: 28px;
  text-align: center;
  padding-top: 28px;
  line-height: 2;
  font-family: "Inter";
  font-weight: normal;
}
.grey {
  width: 100%;
  background-color: #f8d7a4;
}
.objects {
  width: 951px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.grey-objects {
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
  color: grey;
}
.numb {
  font-size: 50px;
  margin-bottom: 15px;
}
.title-3 {
  font-size: 25px;
  line-height: 2.5;
  font-weight: bold;
  font-family: "Poppins";
}
/* footer */
.footer-wrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-titles {
  width: 700px;
  margin-left: 126px;
}
.logo-f {
  width: 186px;
  margin-top: 50px;
}
.logo-f:hover {
  transform: scale(0.9, 0.8);
}
.footer-h4 {
  width: 263px;
  height: 100px;
  font-size: 16px;
  color: #f8d7a4;
  margin-top: 20px;
  font-family: "Inter";
  font-weight: normal;
}
.social {
  display: flex;
  justify-content: left;
  margin-left: 126px;
  margin-bottom: 50px;
  align-items: center;
}
.social-items {
  color: white;
  margin-right: 45px;
  font-size: 35px;
}
.social-items:hover {
  transform: scale(0.9, 0.8);
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.Copyright {
  font-size: 12px;
  color: white;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 33px;
  font-family: "Inter";
}

/* history */
.history-s {
  background-color: #000;
  text-align: justify;
}
.bg-image {
  background-image: url(../image/background.avif);
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  top: 25px;
}
.title-history {
  position: absolute;
  font-size: 50px;
  top: 160px;
  left: 50px;
  font-family: "Poppins";
  font-weight: bold;
  -webkit-animation: move-title 1s alternate 1 0.2s;
          animation: move-title 1s alternate 1 0.2s;
}
@-webkit-keyframes move-title {
  from {
    left: 0px;
  }
  to {
    left: 50px;
  }
}
@keyframes move-title {
  from {
    left: 0px;
  }
  to {
    left: 50px;
  }
}
.history-2 {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 auto;
  padding: 50px;
}
.history-h6 {
  margin: 0 auto;
  font-size: 25px;
  margin-top: 20px;
  font-family: "Inter";
  font-weight: normal;
}
.history-p {
  font-size: 25px;
  margin: 20px 0 20px 50px;
  font-family: "Inter";
  font-weight: normal;
}
.bg-image-2 {
  background-image: url(../image/Bentley.jpg);
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.img-history {
  width: 100%;
}

/*top */

.content-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.head-top {
  margin: 0 auto;
  width: 1440px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.top-10-left {
  width: 600px;
  margin-right: 15px;
  margin-left: 145px;
  padding-top: 100px;
}
.list {
  font-size: 20px;
  color: #f8d7a4;
}
.h1-top {
  font-size: 30px;
  color: black;
  margin-top: 25px;
  margin-bottom: 35px;
  font-family: "Poppins";
  font-weight: bold;
}
.paragraph-top {
  font-size: 15px;
  color: #a55c30;
  font-family: "Inter";
}
.h2-top {
  font-size: 100px;
  font-weight: bold;
  font-family: "Poppins";
}
.brand {
  font-size: 30px;
  color: black;
  margin-top: 25px;
  margin-bottom: 35px;
  font-family: "Poppins";
  font-weight: bold;
}
.title-brand {
  font-size: 20px;
  color: #a55c30;
  text-align: left;
  margin-bottom: 15px;
  font-family: "Inter";
}
.box-1-right {
  width: 100%;
}
.read-review {
  font-size: 15px;
}

/* contact */
.Contact-h3 {
  width: 100%;
  font-size: 56px;
  text-align: center;
  color: #a55c30;
  font-family: "Inter";
}
.black-back {
  width: 100%;
  height: 100vh;
  background-color: black;
  border-color: #a55c30;
}
.action-N {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
.form-element {
  width: 100%;
  height: 54px;
}
.form {
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
}
.label-class {
  margin-bottom: 20px;
  font-family: "Poppins";
}
.cars {
  font-family: "Inter";
}
.textarea {
  width: 100%;
  height: 20vh;
}
.send {
  background-color: #f8d7a4;
  color: #a55c30;
  margin-left: 200px;
  margin-top: 22px;
  margin-bottom: 79px;
  padding: 20px 30px;
  border-color: #a55c30;
  font-family: "Poppins";
}
